# DataFlix

In [ ]:
import os
import pandas as pd
import plotly.express as px
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv(dotenv_path='./private/.env')

user = os.getenv("SNOWFLAKE_USER")
password = os.getenv("SNOWFLAKE_PASSWORD")
account = os.getenv("SNOWFLAKE_ACCOUNT")
warehouse = os.getenv("SNOWFLAKE_WAREHOUSE")
database = os.getenv("SNOWFLAKE_DATABASE")
schema = os.getenv("SNOWFLAKE_SCHEMA")

engine = create_engine(
    f'snowflake://{user}:{password}@{account}/{database}/{schema}?warehouse={warehouse}'
)

def run_query(_query: str) -> pd.DataFrame:
    if engine is None:
        raise RuntimeError("Failed to create SQLAlchemy engine.")
    return pd.read_sql(_query, engine)

EFH5xXpz6dYteLJ

In [ ]:
df_title_basics = run_query("select * from title_basics limit 100")
df_title_basics.head()

ProgrammingError: (snowflake.connector.errors.ProgrammingError) 002003 (42S02): SQL compilation error:
Object 'DF_TITLE_BASICS' does not exist or not authorized.
[SQL: select * from df_title_basics limit 100]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [33]:
df_fact_titles = run_query("select * from fact_titles limit 100")
df_fact_titles.head()

,title_id,primary_title,original_title,title_type,is_adult,start_year,end_year,runtime_minutes,genres,average_rating,num_votes,director_names,writer_names
0,tt18330882,Episode #1.416,Episode #1.416,tvEpisode,False,NaN,None,NaN,"Comedy,Game-Show,Reality-TV",NaN,NaN,None,"Tetsuya Nishida, Masataka Suzuki, Takayoshi Ku..."
1,tt18330884,Episode #1.417,Episode #1.417,tvEpisode,False,NaN,None,NaN,"Comedy,Game-Show,Reality-TV",NaN,NaN,None,"Tetsuya Nishida, Masataka Suzuki, Takayoshi Ku..."
2,tt18330886,Episode #1.2,Episode #1.2,tvEpisode,False,2022.0,None,NaN,Reality-TV,NaN,NaN,None,Akshay Singh
3,tt18330888,Episode #1.418,Episode #1.418,tvEpisode,False,NaN,None,NaN,"Comedy,Game-Show,Reality-TV",NaN,NaN,None,"Tetsuya Nishida, Masataka Suzuki, Takayoshi Ku..."
4,tt1833089,Tangerine,Tangerine,short,False,2010.0,None,13.0,"Drama,Short",NaN,NaN,Miranda Nation,Miranda Nation

In [ ]:

df_fact_name_known_for = run_query("select * from staging.fact_name_known_for limit 100")
df_fact_name_known_for.head()

      nconst          primary_name birth_year death_year known_for_titles
0  nm9626566          Luvi Rodrigo       None       None        tt8002226
1  nm9626567     Aloysius Fernando       None       None        tt8002226
2  nm9626568  Gunapala Weerasekara       None       None       tt34002054
3  nm9626568  Gunapala Weerasekara       None       None        tt8002226
4  nm9626569  Ranasinghe Premadasa       None       None        tt8002226

In [32]:

df_fact_name_profession = run_query("select * from staging.fact_name_profession limit 100")
df_fact_name_profession.head()

,nconst,primary_name,birth_year,death_year,profession
0,nm10950747,Shannon McDonald,NaN,NaN,transportation_department
1,nm10950749,Stocktip Dave,NaN,NaN,actor
2,nm10950749,Stocktip Dave,NaN,NaN,producer
3,nm1095075,Celal Balkir,1909.0,1988.0,actor
4,nm1095075,Celal Balkir,1909.0,1988.0,writer